body {
    background-color: #131315 !important;
    font-family: 'Kanit', sans-serif;
}

ul {
    list-style: none;
}

.imagen-1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    height: 87vh !important;
    background-size: cover;
    background-repeat:  no-repeat;
    background-image: url("../img/656026.jpg");
}

.contenedorCartas {
    display: flex;
}

.containerNews {
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80vw;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.726);
}

.containerNews h2 {
    font-weight: bold;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu svg {
    width: 40px;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 600px;
    min-width: 500px;
}

.contendor-card-carrito {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #FF6600;
    border-radius: 1rem;
    margin: 1em;
}



.text-mensaje {
    color: #FF6600;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: #fff;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }

    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }

    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }

    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }

    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}